body {
  background-image: url("../images/trees.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:monospace;
}
h1 {
  color:rgb(70, 70, 224);
}
.head-li{
  font-size:x-large;
}

table, th, td {
  border: 1px solid black;
}